<div data-ng-controller="PlayersController" data-ng-init="findPlayers()">
  <ul class="navlist">
    <li><input type="text" data-ng-model="search.name" placeholder="Player name"></li>
    <li data-ng-include="'views/partials/nflteamselect.html'"></li>
    <li data-ng-include="'views/partials/positionselect.html'"></li>
    <li data-ng-include="'views/partials/limitselect.html'"></li>
  </ul>
    {{strictsearch}}

  <table class="table table-hover">
    <tr>
      <th>#</th>
      <th><span ng-click="order = 'name'; reverse=!reverse" class="clickable">Player</span><div ng-class="getArrow()"></div></th>
      <th>Position</th>
      <th>Team</th>
    </tr>
    <tr data-ng-repeat="player in players | orderByPriority | filter:search | filter:strictsearch:comp | limitTo:searchsize.limit | orderBy:order:reverse">
      <td>{{ player.num }}</td>
      <td>{{ player.name }}</td>
      <td>{{ positions[player.pos].abbr }}</td>
      <td>{{ nflteams[player.team].abbr }}</td>
    </tr>
  </table>
</div>