<div data-ng-controller="PlayersController" data-ng-init="findPlayers()">
  <ul class="navlist">
    <li><input type="text" data-ng-model="search.name" placeholder="Player name"></li>
    <li data-ng-include="'views/partials/nflteamselect.html'"></li>
    <li data-ng-include="'views/partials/positionselect.html'"></li>
    <li data-ng-include="'views/partials/limitselect.html'"></li>
  </ul>
  <table class="table table-hover">
    <tr>
      <th ng-click="order = 'num'; reverse=!reverse">#</th>
      <th ng-click="order = 'name'; reverse=!reverse">Player</th>
      <th ng-click="order = 'pos'; reverse=!reverse">Position</th>
      <th ng-click="order = 'team'; reverse=!reverse">Team</th>
    </tr>
    <tr data-ng-repeat="player in players | orderByPriority | filter:search | filter:strictsearch:true | limitTo:searchsize.limit | orderBy:order:reverse">
      <td>{{ player.num }}</td>
      <td>{{ player.name }}</td>
      <td>{{ positions[player.pos].abbr }}</td>
      <td>{{ nflteams[player.team].abbr }}</td>
    </tr>
  </table>
</div>